apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    uid: loki
    url: http://loki:3100
    jsonData:
      maxLines: 5000
      derivedFields:
        - name: trace_id
          matcherRegex: '"trace_id":"([0-9a-f]+)"'
          datasourceUid: tempo
          url: '/explore?left=["now-1h","now","tempo",{"query":"$${__value.raw}"}]'
          urlDisplayLabel: View Trace in Tempo
    editable: false
