basePath: /api/v2
externalDocs:
  description: OpenAPI
  url: https://swagger.io/resources/open-api/
host: api.gca.dev.br
info:
  contact:
    email: projeto.toq@gmail.com
    name: TOQ Development Team
    url: https://github.com/projeto-toq/toq_server
  description: TOQ Server - Real Estate HTTP API Server with hexagonal architecture.
  license:
    name: MIT
    url: https://github.com/projeto-toq/toq_server/blob/main/LICENSE
  termsOfService: http://swagger.io/terms/
  title: TOQ Server API
  version: "2.0"
paths: {}
securityDefinitions:
  BearerAuth:
    description: Type "Bearer" followed by a space and JWT token.
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
